@media only screen and (max-width : 1090px) {
	.banWrapper .rightPart{
		float:none;
		max-width:100%;
		overflow:hidden;	
	}
	.banBotDiv{
		float:none;
		overflow:hidden;
		width:auto;	
	}
	.guaranteeArea img{
		margin-right:5px;	
	}
	.guaranteeArea > p{
		font-size:14px;	
	}
	
}
@media only screen and (max-width : 950px) {
	.rightPart p{
		margin-bottom:10px;	
	}
	ul.lists{
		margin:0;	
	}
	.rightPart h1{
		font-size:25px;	
	}
	.banWrapper .leftPart{
		max-width:260px;	
	}
	.banWrapper{
		padding-bottom:0;	
	}
}
@media only screen and (max-width : 800px) {
	.wrapperInner, .content-wrapper{
		width:97%;
		margin:0 auto;	
	}
	.priceArea{
		display:block;
		width:100%;
		margin-bottom:20px;
	}
	.header{
		background-size:cover;	
	}
}

@media only screen and (max-width : 768px) {
	.rightPart p, ul.lists{
		margin-bottom:20px;	
	}
	ul.lists{
		margin:0 auto 20px;
		text-align:left;
	}
	.guaranteeArea{
		padding-right:10px;
		font-size:15px;
		margin-top:7px;	
		text-align:left;
		float:left;
	}
	.priceTxt{
		text-align:left;
		margin-bottom:10px;
		font-size:39px;
	}
	
	.pure-form-stacked .l-box{
		padding-right:0;	
	}

}
@media only screen and (max-width : 698px) {
	ul.lists{
		width:75%;	
	}
	.priceTxt{
		text-align:center;	
	}
	.guaranteeArea{
		float:none;
		width:80%;
		display:table;
		margin:0 auto;
		padding-right:0;
	}
}
@media only screen and (max-width : 640px) {
	.footer p.ftTxt{
		text-align:center;	
	}
	ul.ftMenu{
		float:none;
		display:block;
		text-align:center;	
	}
	
	.banWrapper .leftPart{
		float:none;
		display:block;
		max-width:100%;
		margin-right:0;
		text-align:center;	
	}
	.banWrapper .rightPart{
		float:none;
		display:block;
		max-width:100%;
		text-align:center;	
	}
	.header{
		background-color:#8d4f5a;	
	}
	.banBotDiv{
		float:none;
		display:block;
		width:100%;	
	}
	.priceTxt{
		margin-top:30px;	
	}

}

@media only screen and (max-width : 480px) {
	.headerTopRight{
		margin-top:0;
		font-size:12px;	
	}
	.headerTopRight a{
		font-size:12px;	
	}
	.headerTopRight strong{
		display:block;
		font-size:14px;
	}
	.leftpan{
		padding-right:0;	
	}
	.personName{
		margin-bottom:36px;	
	}
	
	.guaranteeArea{
		width:90%;	
	}
	
	
	.pure-g.widget{ width:270px; margin:0px auto;}

	.guaranteeArea > p{
	font-size:16px;
	width:60%;
	text-align:center;
	}
	.pure-form input[type]{
	width:100%;
	}
	.pure-table{
	width:100%;
	}
}
@media only screen and (max-width : 320px) {
	.guaranteeArea > p{
		font-size:13px;	
	}
}